.gallery-list img {
  width: 100%;
  object-fit: cover;
}



//lightbox
.lb-outerContainer, .lb-dataContainer {
  background: $white;
  width: auto;
  padding: 10px;
}

.lb-outerContainer {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.lb-closeContainer {
  position: absolute;
  top: 0;
  margin-top: 20px;
  margin-left: -35px;
  z-index: 10;
}

.lb-dataContainer {
  .lb-data .lb-caption {
    @include font-size(18px);
    color: $main-color-dark;
  }
}