.wrapper-header {
  background-color: $white;
  box-shadow: 0 3px 6px rgba(0,0,0,.1);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  margin-bottom: 20px;
}

.logo {
  width: 50px;
  height: 50px;
  margin: 5px 0;
  display: block;
}

.header-btn {
  padding-top: 20px;
  margin: 0 15px;

  .icon {
    vertical-align: bottom;

    svg {
      fill: $main-color-dark;
    }
  }
}

@include medium {
  .wrapper-header {
    flex-direction: column;
    padding: 0;
  }

  .logo {
    margin: 20px auto;
    width: 100px;
    height: 100px;
  }

  .header-btn {
    position: absolute;
    top: 8%;
    right: 15%;
    margin: 0;
    padding: 0;
    border-top: none;

    &.shape {
      background: url("../../assets/img/dog-food.svg") no-repeat;
      background-size: cover;
      width: 80px;
      height: 80px;
    }

    a {
      position: absolute;
      top: 56%;
      left: 50%;
      transform: translate(-50%, -56%);
      font-size: 10px;
    }
  }

  .header-btn.border-top {
    border: none;
  }

  .logout-btn {
    display: none;
  }

}