<ng-template #loader>
  <div class="loader">
    <img src="assets/img/loader.gif" alt="">
  </div>
</ng-template>
<ng-template #catList>
<div class="content">
  <app-album-filter [catsBreed]="catsBreed" (breedId)="displayBreedId($event)" (bestId)="displayBestId($event)"></app-album-filter>
  <div class="col-auto">
    <div class="vertical-thumb_img border" *ngFor="let cat of catsItems | filter:breedId | filterBest:bestId; let i=index">
      <a [routerLink]="['/user', cat.user_id]" class="img-text">
        <img *ngIf="cat.user_img" class="img-circle" src="{{cat.user_img}}" alt="{{cat.username}}">
        <img *ngIf="!cat.user_img" src="../assets/img/default.png" alt="" width="30" height="30">
        <span>{{cat.username}}</span>
      </a>
      <figure class="img-thumb">
        <img src="{{ cat.main_img }}" alt="" class="img-thumb_img" [routerLink]="['/cat-profile', cat.id_breed, cat.id]">
        <figcaption class="text-thumb bottom-text bottom-text-left">
           {{ cat.name }} , {{ cat.age }}
        </figcaption>
      </figure>
      <div class="vertical-thumb_img-icons">
        <p class="heart" (click)="change(cat)" [class.like]="cat.isLike">
          <span>{{ cat.countLikes}}</span>
        </p>
        <div>
          <a class="link-icon" href="javascript:(void)" alt="Images" (click)="open(cat)">
            <!-- <svg-icon-sprite [src]="'assets/sprites/sprite.svg#photo'" [width]="'28px'" [height]="'28px'" [viewBox]="0 0 28 28"></svg-icon-sprite> -->
          </a>
          <a class="link-icon" [routerLink]="['/cat-profile', cat.id_breed, cat.id]" alt="View">
            <svg-icon-sprite src="assets/img/eye.svg" [svgStyle]="{'width.px':28, 'height.px':28}" viewBox="0 0 28 28"></svg-icon-sprite>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
</ng-template>

<ng-container *ngTemplateOutlet="showCatList ? catList : loader"></ng-container>