<div style="text-align:center">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="main-carousel">
        <div class="main-carousel_img">
          <img class="img-thumb_img" src="https://www.purina.co.uk/sites/g/files/mcldtz2481/files/2019-11/Friendliest%20cat%20breeds%201.jpg">
        </div>
        <div class="main-carousel_text">
          <h2>The Most Affectionate and Friendliest Cat Breeds</h2>
          <a [routerLink]="[{outlets: 
            {primary: ['cat-articles', 'article-1'], sidebar: null}
          }]" class="btn secondary-btn">
            View 
            <svg-icon-sprite class="icon right bounce-right" [src]="'assets/sprites/sprite.svg#arrow-next'" [width]="'12px'" [height]="'12px'" [attr.style]="'color: #ffffff'" [viewBox]="'0 0 12 12'"></svg-icon-sprite>
          </a>
        </div>
      </div>
    </ng-template>  
    <ng-template carouselSlide>
      <div class="main-carousel">
        <div class="main-carousel_img">
          <img class="img-thumb_img" src="https://www.purina.co.uk/sites/g/files/mcldtz2481/files/2019-08/Cat%20Eating%20From%20Bowl%20Banner%20Photo_0.jpg">
        </div>
        <div class="main-carousel_text">
          <h2>5 Reasons Why Cats Meow</h2>
          <a [routerLink]="[{outlets: 
            {primary: ['cat-articles', 'article-2'], sidebar: null}
          }]" class="btn secondary-btn">
            View 
            <svg-icon-sprite class="icon right bounce-right" [src]="'assets/sprites/sprite.svg#arrow-next'" [width]="'12px'" [height]="'12px'" [attr.style]="'color: #ffffff'" [viewBox]="'0 0 12 12'"></svg-icon-sprite>
          </a>
        </div>
      </div>
    </ng-template>  
    <ng-template carouselSlide>
      <div class="main-carousel">
        <div class="main-carousel_img">
          <img class="img-thumb_img" src="https://www.purina.co.uk/sites/g/files/mcldtz2481/files/2019-11/Friendliest%20cat%20breeds%201.jpg">
        </div>
        <div class="main-carousel_text">
          <h2>The Most Affectionate and Friendliest Cat Breeds</h2>
          <a [routerLink]="[{outlets: 
            {primary: ['cat-articles', 'article-3'], sidebar: null}
          }]" class="btn secondary-btn">
            View
            <svg-icon-sprite class="icon right bounce-right" [src]="'assets/sprites/sprite.svg#arrow-next'" [width]="'12px'" [height]="'12px'" [attr.style]="'color: #ffffff'" [viewBox]="'0 0 12 12'"></svg-icon-sprite>
          </a>
        </div>
      </div>
    </ng-template>  
  </owl-carousel-o>
</div>
