<div class="content">
  <div class="col-auto">
    <figure class="vertical-thumb_img" *ngFor="let cat of catsItems">
      <div>
        <div class="img-thumb">
          <img src="{{ cat.main_img }}" alt="" class="img-thumb_img">
        </div>
        <figcaption class="text-thumb bottom-text bottom-text-left"> 
          {{ cat.name }}
        </figcaption>
      </div>
      <a class="bottom-text bottom-text-right" [routerLink]="['/cat-profile', cat.id_breed, cat.id]">
        <svg-icon-sprite [src]="'assets/sprites/sprite.svg#eye'" [width]="'28px'" [height]="'28px'" [viewBox]="'0 0 28 28'"></svg-icon-sprite>
      </a>
    </figure>
  </div>
</div>
