<header class="wrapper-header">
  <div class="navbar-logo">
    <a [routerLink]="[{outlets: {primary: ['album'], sidebar: null}}]" class="logo">
      <svg-icon src="assets/img/logo.svg" [svgStyle]="{'width.%':100, 'height.%':100}" viewBox="0 0 100 100"></svg-icon>
    </a>
  </div>
  <div class="hamburger-btn">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
  </div>
  <nav class="navbar">
    <ul class="navbar-list">
      <li class="navbar-list-item"><a [routerLink]="[{outlets: 
        {primary: ['album'], sidebar: null}
      }]">Album</a></li>
      <li class="navbar-list-item"><a [routerLink]="[{outlets: 
        {primary: ['breed', 'list'], sidebar: null}
      }]">Breeds</a></li>
      <li class="navbar-list-item"><a [routerLink]="[{outlets: 
        {primary: ['cat-names'], sidebar: null}
      }]">Cat Names</a></li>
      <li class="navbar-list-item"><a [routerLink]="[{outlets: 
        {primary: ['cat-articles'], sidebar: null}
      }]">Articles</a></li>
      <li class="navbar-list-item"><a [routerLink]="[{outlets: 
        {primary: ['user', 'list'], sidebar: null}
      }]">Users</a></li>
      <li *ngIf="!auth.getToken()" class="header-btn"><a  [routerLink]="[{outlets: 
        {primary: ['login'], sidebar: null}
      }]" class=""> Login </a>
      </li>
      <li *ngIf="auth.getToken()" class="header-btn border-top">
        <a [routerLink]="[{outlets: {primary: ['my-cats'], sidebar: ['sidebar-profile']}}]" class="">
          <span class="icon"><svg-icon src="assets/img/gear.svg" [svgStyle]="{'width.px':20, 'height.px':20}" viewBox="0 0 20 20"></svg-icon></span> 
            For me
        </a>
      </li>
      <li *ngIf="auth.getToken()" class="header-btn logout-btn">
        <a routerLink="" (click)="auth.logout()">
          <span class="icon"><svg-icon src="assets/img/logout.svg" [svgStyle]="{'width.px':20, 'height.px':20}" viewBox="0 0 20 20"></svg-icon></span>
          Logout
        </a></li>
    </ul>
  </nav>
  <!-- <a  *ngIf="auth.getToken()" routerLink="" (click)="auth.logout()" class="btn header-btn primary-btn">Logout</a> -->
</header>