<div class="wrap-breed two-col">
  <div class="img-thumb">
    <img src="{{ breeds?.img_url }}" alt="" class="img-thumb_img"/>
  </div>
  <div>
    <div>
      <h2 class="title-block">{{ breeds?.breeds_name }}</h2>
      <p>{{ breeds?.desc }}</p>
    </div>
    <div class="breed-characters two-equal-col">
        <div class="">
          <p class="breed-characters_type">Adaptability</p>
          <div class="meter-bar">
              <span class="meter-bar_inner"></span>
              <span class="meter-bar_range meter-bar_range_{{breeds?.adaptability}}"></span>
          </div>
        </div>
        <div class="">
          <p class="breed-characters_type">Affection level</p>
          <div class="meter-bar">
              <span class="meter-bar_inner"></span>
              <span class="meter-bar_range meter-bar_range_{{breeds?.affection_level}}"></span>
          </div>
        </div>
        <div class="">
          <p class="breed-characters_type">Child friendly</p>
          <div class="meter-bar">
              <span class="meter-bar_inner"></span>
              <span class="meter-bar_range meter-bar_range_{{breeds?.child_friendly}}"></span>
          </div>
        </div>
        <div class="">
          <p class="breed-characters_type">Dog friendly</p>
          <div class="meter-bar">
              <span class="meter-bar_inner"></span>
              <span class="meter-bar_range meter-bar_range_{{breeds?.dog_friendly}}"></span>
          </div>
        </div>
        <div class="">
          <p class="breed-characters_type">Energy level</p>
          <div class="meter-bar">
              <span class="meter-bar_inner"></span>
              <span class="meter-bar_range meter-bar_range_{{breeds?.energy_level}}"></span>
          </div>
        </div>
        <div class="">
          <p class="breed-characters_type">Grooming</p>
          <div class="meter-bar">
              <span class="meter-bar_inner"></span>
              <span class="meter-bar_range meter-bar_range_{{breeds?.grooming}}"></span>
          </div>
        </div>
        <div class="">
          <p class="breed-characters_type">Health issue</p>
          <div class="meter-bar">
              <span class="meter-bar_inner"></span>
              <span class="meter-bar_range meter-bar_range_{{breeds?.health_issue}}"></span>
          </div>
        </div>
        <div class="">
          <p class="breed-characters_type">Intelligence</p>
          <div class="meter-bar">
              <span class="meter-bar_inner"></span>
              <span class="meter-bar_range meter-bar_range_{{breeds?.intelligence}}"></span>
          </div>
        </div>
        <div class="">
          <p class="breed-characters_type">Shedding level</p>
          <div class="meter-bar">
              <span class="meter-bar_inner"></span>
              <span class="meter-bar_range meter-bar_range_{{breeds?.shedding_level}}"></span>
          </div>
        </div>
        <div class="">
          <p class="breed-characters_type">Social needs</p>
          <div class="meter-bar">
              <span class="meter-bar_inner"></span>
              <span class="meter-bar_range meter-bar_range_{{breeds?.social_needs}}"></span>
          </div>
        </div>
        <div class="">
          <p class="breed-characters_type">Stranger friendly</p>
          <div class="meter-bar">
              <span class="meter-bar_inner"></span>
              <span class="meter-bar_range meter-bar_range_{{breeds?.stranger_friendly}}"></span>
          </div>
        </div>
        <div class="">
          <p class="breed-characters_type">Vocalisation</p>
          <div class="meter-bar">
              <span class="meter-bar_inner"></span>
              <span class="meter-bar_range meter-bar_range_{{breeds?.vocalisation}}"></span>
          </div>
        </div>
    </div>
  </div>
</div>
