<div class="wrap-breed two-col">
  <div class="img-thumb">
    <img src="{{ cats.img_url }}" alt="" class="img-thumb_img"/>
  </div>
  <div>
    <div>
      <h2 class="title-block">{{ cats.breeds_name }}</h2>
      <p>{{ cats.desc }}</p>
    </div>
    <div class="breed-characters two-equal-col">
        <div class="">
          <p class="breed-characters_type">Adaptability</p>
          <div class="meter-bar">
              <span class="meter-bar_inner"></span>
              <span class="meter-bar_range meter-bar_range_{{cats.adaptability}}"></span>
          </div>
        </div>
        <div class="">
          <p class="breed-characters_type">Affection level</p>
          <div class="meter-bar">
              <span class="meter-bar_inner"></span>
              <span class="meter-bar_range meter-bar_range_{{cats.affection_level}}"></span>
          </div>
        </div>
        <div class="">
          <p class="breed-characters_type">Child friendly</p>
          <div class="meter-bar">
              <span class="meter-bar_inner"></span>
              <span class="meter-bar_range meter-bar_range_{{cats.child_friendly}}"></span>
          </div>
        </div>
        <div class="">
          <p class="breed-characters_type">Dog friendly</p>
          <div class="meter-bar">
              <span class="meter-bar_inner"></span>
              <span class="meter-bar_range meter-bar_range_{{cats.dog_friendly}}"></span>
          </div>
        </div>
        <div class="">
          <p class="breed-characters_type">Energy level</p>
          <div class="meter-bar">
              <span class="meter-bar_inner"></span>
              <span class="meter-bar_range meter-bar_range_{{cats.energy_level}}"></span>
          </div>
        </div>
        <div class="">
          <p class="breed-characters_type">Grooming</p>
          <div class="meter-bar">
              <span class="meter-bar_inner"></span>
              <span class="meter-bar_range meter-bar_range_{{cats.grooming}}"></span>
          </div>
        </div>
        <div class="">
          <p class="breed-characters_type">Health issue</p>
          <div class="meter-bar">
              <span class="meter-bar_inner"></span>
              <span class="meter-bar_range meter-bar_range_{{cats.health_issue}}"></span>
          </div>
        </div>
        <div class="">
          <p class="breed-characters_type">Intelligence</p>
          <div class="meter-bar">
              <span class="meter-bar_inner"></span>
              <span class="meter-bar_range meter-bar_range_{{cats.intelligence}}"></span>
          </div>
        </div>
        <div class="">
          <p class="breed-characters_type">Shedding level</p>
          <div class="meter-bar">
              <span class="meter-bar_inner"></span>
              <span class="meter-bar_range meter-bar_range_{{cats.shedding_level}}"></span>
          </div>
        </div>
        <div class="">
          <p class="breed-characters_type">Social needs</p>
          <div class="meter-bar">
              <span class="meter-bar_inner"></span>
              <span class="meter-bar_range meter-bar_range_{{cats.social_needs}}"></span>
          </div>
        </div>
        <div class="">
          <p class="breed-characters_type">Stranger friendly</p>
          <div class="meter-bar">
              <span class="meter-bar_inner"></span>
              <span class="meter-bar_range meter-bar_range_{{cats.stranger_friendly}}"></span>
          </div>
        </div>
        <div class="">
          <p class="breed-characters_type">Vocalisation</p>
          <div class="meter-bar">
              <span class="meter-bar_inner"></span>
              <span class="meter-bar_range meter-bar_range_{{cats.vocalisation}}"></span>
          </div>
        </div>
    </div>
  </div>
</div>

