<!-- <p>
  {{ this.kind }}
</p> -->
<div *ngIf="articleFirst" class="article-body">
  <h2>The Most Affectionate and Friendliest Cat Breeds</h2>
  <p>We’re often relieved to see the friendly side of our feline companions, but did you know that some breeds show it off more often than others? Here are some of the friendliest cat breeds you can wish for.</p>
  <div class="article-main-img">
    <img src="https://www.purina.co.uk/sites/g/files/mcldtz2481/files/2019-11/Friendliest%20cat%20breeds%201.jpg" alt="The Most Affectionate and Friendliest Cat Breeds" class="">
  </div>
  <p>“Does my cat love me?” Many cat owners have asked themselves this question, feeling slightly apprehensive to find out the honest answer. But while the mystery of a cat’s true feelings is likely to endure, we know that they do have a friendly, affectionate side. Felines might not win the dog’s long-time title as “a human’s best friend” anytime soon, but some cat breeds come pretty close.</p>
  <p>Whether you’re looking for the friendliest cat breed you can bring into your life or you already have a lovely cat to come home to and want to see how they measure up against other feline friends, here are some of the most affectionate cat breeds.</p>
</div>
<div *ngIf="articleSecond" class="article-body">
  <h2>5 Reasons Why Cats Meow</h2>
  <div class="article-main-img">
    <img src="https://www.purina.co.uk/sites/g/files/mcldtz2481/files/2019-08/Cat%20Eating%20From%20Bowl%20Banner%20Photo_0.jpg" alt="5 Reasons Why Cats Meow" class="">
  </div>
</div>
<div *ngIf="articleThird" class="article-body">
  3
  <h2></h2>
  <div class="article-main-img">

  </div>
</div>
