<div>
  <h2 class="title-block">Articles</h2>
  <div class="horizontal-thumb two-col">
    <a [routerLink]="['/cat-articles/article-1']" class="img-thumb">
      <img src="https://www.purina.co.uk/sites/g/files/mcldtz2481/files/2019-11/Friendliest%20cat%20breeds%201.jpg" alt="The Most Affectionate and Friendliest Cat Breeds" class="img-thumb_img">
    </a>
    <div class="horizontal-thumb-desc">
      <a [routerLink]="['/cat-articles/article-1']" class="horizontal-thumb-desc_title">
        <h3>The Most Affectionate and Friendliest Cat Breeds</h3>
      </a>
      <p class="horizontal-thumb-desc_txt">We’re often relieved to see the friendly side of our feline companions, but did you know that some breeds show it off more often than others? Here are some of the friendliest cat breeds you can wish for.</p>
    </div>
  </div>
  <div class="horizontal-thumb two-col">
    <a [routerLink]="['/cat-articles/article-2']" class="img-thumb">
      <img src="https://www.purina.co.uk/sites/g/files/mcldtz2481/files/2019-08/Cat%20Eating%20From%20Bowl%20Banner%20Photo_0.jpg" alt="5 Reasons Why Cats Meow" class="img-thumb_img">
    </a>
    <div class="horizontal-thumb-desc">
      <a [routerLink]="['/cat-articles/article-2']" class="horizontal-thumb-desc_title">
        <h3>5 Reasons Why Cats Meow</h3>
      </a>
      <p class="horizontal-thumb-desc_txt">Whether you enjoy a soothing meow every now and then or you’re growing impatient with all your cat’s attempts to make conversation, the reasons why cats meow are just as fascinating as the kittens themselves. Find out more here.</p>
    </div>
  </div>
  <div class="horizontal-thumb two-col">
    <a [routerLink]="['/cat-articles/article-3']" class="img-thumb">
      <img src="https://www.purina.co.uk/sites/g/files/mcldtz2481/files/2019-11/Friendliest%20cat%20breeds%201.jpg" alt="The Most Affectionate and Friendliest Cat Breeds" class="img-thumb_img">
    </a>
    <div class="horizontal-thumb-desc">
      <a [routerLink]="['/cat-articles/article-3']" class="horizontal-thumb-desc_title">
        <h3>The Most Affectionate and Friendliest Cat Breeds</h3>
      </a>
      <p class="horizontal-thumb-desc_txt">We’re often relieved to see the friendly side of our feline companions, but did you know that some breeds show it off more often than others? Here are some of the friendliest cat breeds you can wish for.</p>
    </div>
  </div>
</div>