<div class="content">
  <div class="alphabet-list">
      <p class="letter" *ngFor="let letter of alphabets" (click)="getLetter(letter)">{{ letter }}</p>
  </div>

  <div class="">
    <div class="list-names" *ngFor="let name of catNamesGroup | filterLetter:letter">
      <h3 class="letter-names">{{name.letter}}</h3>
      <div *ngIf="isEmptyObject(name.names | keyvalue)" class="grid-names item-name">
        <div *ngFor="let n of name.names | keyvalue">
          {{n.value}}
        </div>
      </div>

      <div *ngIf="!isEmptyObject(name.names | keyvalue)" class="item-name">
        <p>Not found names</p>
      </div>
    </div>
  </div>
</div>
